.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background: rgb(204, 204, 204);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sx{
  display: flex;
  justify-content: center;
  
}



.con{
  position: absolute;
  height: 100vh; 
   width: 100vw; 
  /* width: 365px; */
  background: re;
  background: rgba(0, 0, 0, 0.489);
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
  position: fixed;
  /* top: 5%; */
}

.h1{
  position: absolute;
  text-align: center;
  top: 53%;
  transform: translateY(-50%);
  /* width: 50%; */
  font-size: 350%;
  background: white;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 30px;
  

}


form{
  position: relative;
  background: rgb(255, 255, 255);
  padding: 20px;
  /* box-sizing: border-box; */
  width: 300px;
}

.err{
  /* position: relative; */
font-weight: bold;
color: red;
top: 5px;
margin-top: -43px;
margin-left: -117px;

}



  .enter{
    position: relative;
    font-weight: bold;
    font-size: 120%;
   margin-bottom: -17px;
  margin-left: -135px;
  padding: 10px;
  /* text-align: left; */
  }
.x{
  position: absolute;
  float: right;
  top: -10px;
  right: 7px;
  background: red;
  color: white;
  padding: 2px 9px;
  cursor: pointer;
}
.h2{
  position: relative;
  margin-inline: 29px;
  text-align: left;
}

.frm{
  text-align: center;
}

.box{
  width: 100%;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.inp{
  padding: 5px 2px;
  border: 2px solid grey;
  font-weight: bold;
}

.btn{
  padding: 7px 10px;
  border: none;
  background: black;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.suc{
  
  font-weight: bold;
  color: green;
  /* top: 5px; */
  margin-top: -21px;
  margin-left: -125px;

  }


  .nav{display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
    background: black;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .p{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 190%;
    font-weight: bold;
  }
.oo{
  position: absolute;
  margin-top: 3px;
  
}

  .log{
    position: absolute;
    color: white;
    right: 3%;
    background: red;
    /* padding: 5px 19px; */
    padding: 7px;
    padding-right: 23px;
    font-weight: 600;
    cursor: pointer;
  
  }

  